body {
  font-family: Arial sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #75e2e6;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

img {
  border: 5px solid #048eaa;
}

footer {
  background-color: #048eaa;
  text-align: center;
  color: #ffffff;
  font-size: small;
}

.logo {
  height: 50px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.hero {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  background-image: url("assets/park.jpg");
  background-color: #048eaa;
  background-size: cover;
  color: #ffffff;
}

.hero h1 {
  font-size: 2.5em;
}

.hero img {
  border-radius: 50%;
  margin: 20px 0;
}

.hero form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero button {
  padding: 10px 20px;
  background-color: #75e2e6;
  border: none;
  cursor: pointer;
}

.info {
  flex: 1;
  justify-content: space-evenly;
  padding: 50px 20px;
  background-color: #f0f0f0;
}

.dog-info {
  text-align: center;
}

.dog-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.dog-info h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.dog-info p {
  font-size: 1em;
  margin: 10px 0;
}

.dog-info button {
  padding: 10px 20px;
  background-color: #048eaa;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
